<html>
  <head>
    <meta charset=utf-8" />
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <style type="text/css" media="all">
      * {
        display: border-box;
      }
      body {
        margin: 0;
        font-family: 'Avenir Next', 'Helvetica Neue', Arial, Helvetica, sans-serif;
      }
      .container {
        margin: 30px auto 0 auto;
        border: 1px solid #ccc;
        width: 80vw;
        max-width: 400px;
        text-align: center;
      }
      .button {
        margin: 0 10px 0 10px;
        line-height: 60px;
        font-size: 28px;
        display: block;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        background-color: rgb(51, 204, 204);
      }
      h1 {
        color: rgb(51, 204, 204);
      }
    </style>

    <title><%= ipa.name %> | <%= ipa.short_version %> (<%= ipa.version %>)</title>
  </head>

  <body>
    <div class="container">
      <h1><%= ipa.name %></h1>
      <div class="qr-image"></div>
      <h2>Version: <%= ipa.short_version %> (<%= ipa.version %>)</h2>
      <p>
        <a class="button" href="<%= install_url %>">Install</a>
      </p>
    </div>
    <script type="text/javascript" charset="utf-8">
      var qrImageUrl = "http://api.qrserver.com/v1/create-qr-code/?size=250x250&data=" + document.URL;
      var qrImageNode = document.createElement("img");
      qrImageNode.src = qrImageUrl;
      document.querySelector('.qr-image').appendChild(qrImageNode);
    </script>
  </body>
</html>

